<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Cs::top_level" title="Cs_A" module="Cs_AbuseApi" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Cs_AbuseApi::cs_abuseapi_check" title="Check" module="Cs_AbuseApi" sortOrder="9999" resource="Magento_Backend::content" parent="Cs::top_level" action="cs_abuseapi/check/index"/>
	</menu>
</config>
