<?xml version="1.0" ?>
<!--
/**
 * Copyright 2020 (c) Chris Snedaker, All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="abuse" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>AbuseIP Database API</label>
            <tab>security</tab>
            <resource>Cs_AbuseApi::config_cs_abuseapi</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General Settings</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable AbuseIP DB Api</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment/>
                </field>
                <field id="base_uri" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Base URI</label>
                    <comment/>
                </field>
                <field id="api_key" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" type="obscure">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Register: https://www.abuseipdb.com/register]]></comment>
                </field>
                <field id="max_days" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                    <label>Max Days</label>
<!--                    <backend_model>\Cs\AbuseApi\Model\Config\Source\MaxDays</backend_model>-->
                    <comment>Determines how far back in time we go to fetch reports</comment>
                </field>
            </group>
        </section>
    </system>
</config>
